---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"6a7e5ae8-9fdf-4324-a4e3-d27bfeadbf66","proceedings":[{"ccms_code":"DA005","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"72efd5201a0eddd84194c45e864a2f01"
    body:
      encoding: UTF-8
      string: '{"request_id":"6a7e5ae8-9fdf-4324-a4e3-d27bfeadbf66","success":true,"proceedings":[{"ccms_code":"DA005","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"}]}'
  recorded_at: Thu, 02 Nov 2023 07:39:49 GMT
recorded_with: VCR 6.2.0
