---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"fb3c5565-9440-4511-8909-79c169b505c1","proceedings":[{"ccms_code":"DA001","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"519b96da8f9d0157ac197d20d8ddaa2b"
    body:
      encoding: UTF-8
      string: '{"request_id":"fb3c5565-9440-4511-8909-79c169b505c1","success":true,"proceedings":[{"ccms_code":"DA001","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"}]}'
  recorded_at: Thu, 02 Nov 2023 07:39:33 GMT
recorded_with: VCR 6.2.0
