---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"baf4800a-905e-4980-9c40-d2117157ef0e","proceedings":[{"ccms_code":"DA001","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"35a631e476a9cffbfd32920d7cdfe1ee"
    body:
      encoding: UTF-8
      string: '{"request_id":"baf4800a-905e-4980-9c40-d2117157ef0e","success":true,"proceedings":[{"ccms_code":"DA001","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"}]}'
  recorded_at: Thu, 02 Nov 2023 07:39:40 GMT
recorded_with: VCR 6.2.0
