---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"9ac443ab-58ba-4d04-9148-8af63c5e0967","proceedings":[{"ccms_code":"DA001","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"01f21fcb262716c2b1856653ff601ed0"
    body:
      encoding: UTF-8
      string: '{"request_id":"9ac443ab-58ba-4d04-9148-8af63c5e0967","success":true,"proceedings":[{"ccms_code":"DA001","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"}]}'
  recorded_at: Thu, 02 Nov 2023 07:39:24 GMT
recorded_with: VCR 6.2.0
