---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"83a01e65-53e5-4409-9faf-484358e2f88c","proceedings":[{"ccms_code":"DA001","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"08e09347003b3f5b2ec6e04ae106cf14"
    body:
      encoding: UTF-8
      string: '{"request_id":"83a01e65-53e5-4409-9faf-484358e2f88c","success":true,"proceedings":[{"ccms_code":"DA001","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"}]}'
  recorded_at: Thu, 02 Nov 2023 07:39:48 GMT
recorded_with: VCR 6.2.0
