---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"7cbf01a3-6315-44dc-9975-8ae3f3273a4c","proceedings":[{"ccms_code":"SE013","client_involvement_type":"A"},{"ccms_code":"SE014","client_involvement_type":"D"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"845d271cec471d15d1132bff009d837d"
    body:
      encoding: UTF-8
      string: '{"request_id":"7cbf01a3-6315-44dc-9975-8ae3f3273a4c","success":true,"proceedings":[{"ccms_code":"SE013","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"A"},{"ccms_code":"SE014","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"D"}]}'
  recorded_at: Thu, 02 Nov 2023 07:39:21 GMT
recorded_with: VCR 6.2.0
