---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"1949d035-9268-4a2c-807c-defef1035801","proceedings":[{"ccms_code":"SE013","client_involvement_type":"A"},{"ccms_code":"SE014","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b587a160f88528543619a4ebf14018c5"
    body:
      encoding: UTF-8
      string: '{"request_id":"1949d035-9268-4a2c-807c-defef1035801","success":true,"proceedings":[{"ccms_code":"SE013","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"A"},{"ccms_code":"SE014","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"A"}]}'
  recorded_at: Thu, 02 Nov 2023 07:39:53 GMT
recorded_with: VCR 6.2.0
