---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"661c0f97-d493-4417-a2df-596ef48e6250","proceedings":[{"ccms_code":"SE013","client_involvement_type":"D"},{"ccms_code":"SE014","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"380d542def0a735dea8027790597572c"
    body:
      encoding: UTF-8
      string: '{"request_id":"661c0f97-d493-4417-a2df-596ef48e6250","success":true,"proceedings":[{"ccms_code":"SE013","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"D"},{"ccms_code":"SE014","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"A"}]}'
  recorded_at: Thu, 02 Nov 2023 07:39:47 GMT
recorded_with: VCR 6.2.0
