---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"10a128c5-4715-4c5a-ada7-83b9191953bf","proceedings":[{"ccms_code":"SE003","client_involvement_type":"I"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fd98c5ee3dab7b0047996c2e714b4ee8"
    body:
      encoding: UTF-8
      string: '{"request_id":"10a128c5-4715-4c5a-ada7-83b9191953bf","success":true,"proceedings":[{"ccms_code":"SE003","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"I"}]}'
  recorded_at: Fri, 08 Dec 2023 12:37:30 GMT
recorded_with: VCR 6.2.0
