---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"f6399052-8f78-4b83-9751-b686f571fe05","proceedings":[{"ccms_code":"DA005","client_involvement_type":"Z"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b5a958981b4780da1b4cd59c607479a"
    body:
      encoding: UTF-8
      string: '{"request_id":"f6399052-8f78-4b83-9751-b686f571fe05","success":true,"proceedings":[{"ccms_code":"DA005","sca_core":false,"sca_related":false,"matter_type":"domestic
        abuse (DA)","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"Z"}]}'
  recorded_at: Fri, 13 Jun 2025 07:07:09 GMT
recorded_with: VCR 6.3.1
