# Default values for cfe-civil
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

resources:
  limits:
    cpu: 500m
    memory: 500Mi
  requests:
    cpu: 50m
    memory: 125Mi

ingress:
  className: modsec
  annotations:
    external-dns.alpha.kubernetes.io/aws-weight: '100'
    nginx.ingress.kubernetes.io/enable-modsecurity: "true"
    nginx.ingress.kubernetes.io/modsecurity-snippet: |
      SecRuleEngine On

sentry:
  enabled: enabled

legalFrameworkApi:
  host: http://legal-framework-api.legal-framework-api-staging.svc.cluster.local

threshold:
  futureFile: ''

# database_name and redirect_uri value must be set by `helm --set` command when enabled
branch_builder:
  enabled: true
  database_name: null
