name: Brakeman Scan

on:
  pull_request:
    branches: [main]

jobs:
  brakeman:
    uses: ministryofjustice/laa-reusable-github-actions/.github/workflows/brakeman.yml@768f673017edbb793cf052fa159c272d6c1f9177
